@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css');

body {
  width: 100%;
  height: 100%;
  background-image: url('./images/background/wooden-table.jpg');
  background-repeat: no-repeat;
  background-position-y: center;
  background-attachment: fixed;
  background-size: cover;
}

.cardImage {
  height: 20vh;
  width: auto;
  cursor: pointer;
  margin-right: -60px;
  position: relative;
  transition: 0.3s;
  backface-visibility: hidden;
  transform: translateZ(0) scale(1, 1);
}

.cardImage:hover {
  transform: translateY(-15px);
}

#player {
  display: flex;
  justify-content: center;
  grid-row: 2;
  width: 100%;
  height: 100%;
  transform: translateX(-30px);
}

.usedCardImage {
  height: 100%;
  width: auto;
}

.nonClickable {
  cursor: default;
}

.bidButton {
  font-size: 20px;
}

.hover-red:hover {
  color: red;
}

.hover-black:hover {
  color: black;
}

.hover-gold:hover {
  color: gold;
}

.red {
  color: red;
}

.bid {
  font-weight: bold;
  height: fit-content;
  margin-top: -30px;
}

.bold {
  font-weight: bold;
}

#info {
  position: absolute;
  display: grid;
  grid-template-columns: 20vw auto;
  width: 100%;
  overflow: hidden;
  max-height: 0vw;
  transition: max-height 0.3s;
}

#roundInfo {
  height: fit-content;
  border-right: 1px solid black;
}

#roundInfo td {
  padding-left: 15px;
  font-weight: bold;
}

.table {
  margin: 0;
  background-color: white;
}

#main {
  display: grid;
  grid-template-rows: 50vh auto;
  gap: 20%;
  border-top: 1px solid black;
  padding: 20px;
}

.trick-buttons {
  display: flex;
  justify-content: center;
  column-gap: 5px;
}

.trick-buttons > input {
  width: 50px;
}

.trick-buttons > input:disabled {
  cursor: not-allowed;
}

#gameBoard {
  display: grid;
  grid-template-rows: 18% 29% 29% 29%;
  grid-template-columns: 1fr 1fr;
}

#gameBoard p {
  font-size: 20px;
  margin-bottom: -35px;
  margin-top: auto;
}

#bidArea {
  grid-column: 1/4;
  padding: 10px;
  height: fit-content;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr;
  /* background: url('./images/cards/grey-back.png') no-repeat center center/contain; */
  justify-self: center;
  width: 80px;
  color: black;
  background: rgba(249, 247, 238, 0.6);
  border-radius: 7px;
}

#player1Card {
  grid-row: 4;
  grid-column: 1/4;
}

#player2Card {
  grid-row: 3;
}

#player3Card {
  grid-column: 1/4;
  grid-row: 2;
}

#player4Card {
  grid-row: 3;
}

#bidAmount {
  width: 70px;
  font-size: 20px;
}

.accordion-button {
  padding: 0.2%;
  font-weight: bold;
  border: none;
  outline-width: 0;
  cursor: pointer;
  border-radius: 5px;
}

.accordion-button-active {
  background: #555555;
}
