@media (max-width: 800px) {
  body {
    font-size: 0.8rem;
  }
  .card-container {
    background-size: contain !important;
  }

  .cardImage {
    height: 160px;
  }
}

@media (max-width: 500px) {
  body {
    font-size: 0.4rem;
  }

  .suit-animation {
    width: 100%;
    justify-content: center;
  }

  .suit-animation > div {
    transform: rotate(45deg) scale(0.8);
  }

  #player {
    transform: translateX(-9px);
    bottom: 10px;
    flex-wrap: wrap;
  }

  #last-trick-btn {
    margin-right: 10px;
    margin-top: 1em;
  }

  .cardImage {
    transform: rotate(0) !important;
    margin-right: -18px;
    height: 90px;
  }

  .navbar-wrapper {
    flex-direction: column;
    justify-content: center;
  }

  .navbar-brand {
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .navbar-brand h2 {
    font-size: 1.5em;
  }

  .navbar {
    margin-top: 0;
    padding-top: 0;
  }

  #score-board {
    height: 100px;
    width: 100px;
    top: 140px;
    left: 0;
    right: 0;
    margin-left: -100px;
    margin-right: auto;
  }

  #score-board-wrapper {
    padding: 5% 10%;
  }

  #score-board p {
    font-size: 0.4em;
  }
  #score-board h2 {
    font-size: 1.4em;
    margin-left: 0;
  }

  .scores {
    margin-top: 0 !important;
    margin-left: 0 !important;
  }

  #round-number {
    height: 80px;
    width: 100px;
    top: 60px;
    left: 0;
    right: 0;
    margin-left: -100px;
    margin-right: auto;
  }

  #round-number h2 {
    font-size: 1.3em;
    margin-top: 0.5em;
  }

  #suit-bid,
  #tricks-bid {
    width: 100%;
  }

  #tricks-bid {
    overflow: hidden;
  }

  .bidButton {
    padding: 0.1em 0.3em !important;
  }

  #tricks-bid .bidButton {
    width: 2rem;
  }

  #instructionsModal .modal-content {
    height: 60vh;
  }

  #gameBoard {
    grid-template-rows: 8% 35% 15% 35%;
    padding-top: 1em;
  }

  #player3Card {
    align-self: flex-end !important;
  }

  .card-container {
    width: 70%;
    height: 80%;
  }

  .progression {
    font-size: 2em !important;
    font-weight: bold;
    margin-bottom: auto;
    margin-top: -15px;
  }

  .player-name {
    font-size: 2em !important;
    font-weight: bold;
    margin-bottom: -20px;
    margin-top: auto;
  }

  #instructionsModal .modal-title {
    font-size: 3.5em;
  }

  #instructionsModal .modal-body {
    font-size: 1.75em;
  }

  #instructionsModal .modal-bottom button {
    min-width: 2.5em;
  }

  #rounds-amount,
  #newGameModal label {
    font-size: 2em;
  }

  #newGameModal .modal-bottom button {
    width: fit-content;
    padding: 0.5em !important;
  }

  .table-modal .modal-content {
    max-width: 90%;
    justify-self: center;
    overflow-x: scroll;
  }

  .table-modal button {
    padding: 0.3em 1.5em !important;
  }

  ::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  ::-webkit-scrollbar:horizontal {
    height: 12px;
    padding: 20px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0.95);
  }

  ::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.95);
  }

  table {
    width: 100%;
  }

  #burger-btn {
    display: block;
  }
}

@media (max-height: 550px) {
  .card-container {
    width: 55%;
  }
}
