.cardImage {
  height: 180px;
  width: auto;
  cursor: pointer;
  margin-right: -60px;
  position: relative;
  transition: 0.5s;
  backface-visibility: hidden;
  transform: translateZ(0) scale(1, 1);
}

.dark {
  filter: brightness(85%);
  box-shadow: none;
  cursor: default;
}

.highlight {
  border-radius: 12px;
  box-shadow: 0 0 5px white;
}

#player {
  position: fixed;
  bottom: 60px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  transform: translateX(-30px);
}
